@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --btn-text-case: none;
    --rounded-btn: 0.5rem;
  }
}
